<footer >
    <div class="page-footer" style="bottom:0; position:fixed; width: 100%; background-color:#343a3b; color:white">
       
           &nbsp; &copy; <strong>Logate, 2018 </strong> &nbsp; &nbsp; <strong>NodeJS Web Aplikacija</strong> 
       
    </div>    
</footer>